<?xml version="1.0" encoding="UTF-8"?><!--comment-->
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.springcore.Springcore.Student" id="Student">
 <property name ="id">
  <value>
  3113
  </value>
 </property>
 <property name="name">
 <value>
 Virender Singh Negi
 </value>
 </property>
 <property name="address">
 <value>
 D-944, Dabua Colony N.I.T Faridabad
 </value>
 </property>
 </bean>
 
 
</beans>