<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">BANK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav navbar-right" id="right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
</nav>
<div class="body">

</div>
<router-outlet></router-outlet>