<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">BANK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav navbar-right" id="right">
      <li class="nav-item">
        <a class="nav-link" id="login" [ngClass]="{'d-none': service.status}" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
    </ul>
    <li class="nav-link"id="logout" [ngClass]="{'d-none': !service.status}"  routerLinkActive="active" (click)="logout()"  routerLink="/login">Logout</li>
</nav>
<div class="container-fluid" id="body"> 
</div>
<router-outlet></router-outlet>
